<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie67 ie678" lang="fr"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8 ie678" lang="fr"> <![endif]-->
<!--[if IE 9]> <html class="no-js ie9" lang="fr"> <![endif]-->
<!--[if gt IE 9]> <!--><html class="no-js" lang="fr"> <!--<![endif]-->


 <head>
    <![endif]-->
    <link rel="stylesheet" href="/style.css" media="all">
</head>
<body>
<?php echo "hello"; ?>

<div class="content">
    <h3>Connectez-vous</h3>
    <form action="" method="POST" class="form">
        <input type="text" placeholder="adresse mail" />
        <select>
            <option value="@bouygtel.fr">@bouygtel.fr</option>
            <option value="@cegetel.fr">@cegetel.fr</option>
            <option value="@club-internet.fr">@club-internet.fr</option>
            <option value="@free.fr">@free.fr</option>
            <option value="@freesurf.fr">@freesurf.fr</option>
            <option value="@gawab.com">@gawab.com</option>
            <option value="@gmail.com">@gmail.com</option>
            <option value="@laposte.net">@laposte.net</option>
            <option value="@netcourrier.com">@netcourrier.com</option>
            <option value="@noos.fr">@noos.fr</option>
            <option value="@numericable.fr">@numericable.fr</option>
            <option value="@orange.fr">@orange.fr</option>
            <option value="@sfr.fr">@sfr.fr</option>
        </select>
        <br/>
        <input type="password" placeholder="mot de passe" class="password" />
        <br/>
        <button name="btn-connect" class="btn_connect">Authentification</button>
    </form>
</div>
</body>
</html>


